name: Reusable CI / CD Workflow

on:
  workflow_call:

jobs:
  test-and-build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - 'ubuntu-latest'
          - 'windows-latest'
          - 'macos-latest'
        go:
          - '1.21'
        include:
          - os: 'windows-latest'
            ext: '.exe'
    runs-on: '${{ matrix.os }}'
    steps:
      - uses: 'actions/checkout@v4'
      - uses: 'actions/setup-go@v4'
        with:
          go-version: '${{ matrix.go }}'

      - name: 'Run tests'
        run: |
          go test -count=1 -race -timeout=10m ./...

      - name: 'Build artifacts'
        env:
          CGO_ENABLED: 0
        run: |
          go build -ldflags="-s -w" -o bin/assemble-$(go env GOOS)-$(go env GOARCH)${{ matrix.ext }} ./cmd/...

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: bin/*

